$primary-color: #C5D6E6;
$font-stack: 'Roboto', sans-serif;
$padding-base: 0;
$confirm-color: #47FF6F;
$confirm-color-hover: #2ea547;

$cancel-color: #FF4747;
$warning-color: #ffe647;

$font-title-xl: 2rem;     // ~32px
$font-title-lg: 1.5rem;   // ~24px
$font-subtitle: 1.25rem;  // ~20px
$font-body: 1rem;         // ~16px
$font-small: 0.875rem;    // ~14px

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;

