<div class="dashboard-container">
  <main class="dashboard-main">
    <div class="header">
      <h1 class="titulo">Dashboard</h1>

      <!-- Filtro de Período -->
      <div class="filtro-periodo">
        <label for="periodo">Período:</label>
        <select id="periodo" [(ngModel)]="filtroPeriodo" (change)="onPeriodoChange(filtroPeriodo)">
          <option [value]="PeriodoDashboard.Todos">Todos</option>
          <option [value]="PeriodoDashboard.Hoje">Hoje</option>
          <option [value]="PeriodoDashboard.Semana">Esta semana</option>
          <option [value]="PeriodoDashboard.Mes">Este mês</option>
        </select>
      </div>
    </div>

    <section class="cards">
      <div class="card-info receita">
        <h3 class="label-receita">Receitas</h3>
        <p class="card-value">R$ {{ totalReceitas | number: '1.2-2' }}</p>
      </div>
      <div class="card-info despesa">
        <h3 class="label-despesa">Despesas</h3>
        <p class="card-value">R$ {{ totalDespesas | number: '1.2-2' }}</p>
      </div>
      <div class="card-info saldo">
        <h3 class="label-saldo">Saldo</h3>
        <p class="card-value" [ngClass]="saldo < 0 ? 'text-danger' : 'text-success'">
          R$ {{ saldo | number: '1.2-2' }}
        </p>
      </div>
    </section>

    <section class="charts">
      <div class="chart-box">
        <h4>Receita diária</h4>
        <canvas #lineChart></canvas>
      </div>

      <div class="chart-box">
        <h4>Receita mensal</h4>
        <canvas #barChart></canvas>
      </div>
    </section>

    <section class="notifications" *ngIf="notificacoes.length > 0">
      <h2>Notificações</h2>
      <div
        class="notification"
        *ngFor="let notificacao of notificacoes"
        [ngClass]="notificacao.tipo"
      >
        <strong>{{ notificacao.titulo }}</strong>
        <p>{{ notificacao.mensagem }}</p>
      </div>
    </section>
  </main>
</div>
